body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f3f0e8;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    
}
header{
    background-color: black;
    width: 100%;
    margin-top:-9.5%;
    position: fixed;
   z-index: 20;
}

.left_area{
    text-align: center;
    display: inline-flex;
}
.left_area a{
    text-align: center;
    display: inline-flex;
    text-decoration: none;
    color:#fff; 
    margin: 5px 40px 5px 60px;
    padding: 50px;
}
.right_area a{
    text-align: center;
    background-color: red;
    text-decoration: none;
    float: right;
    width: 140px;
    height: 20px;
    margin-top: -90px;
    margin-right: 25px;
    padding: 10px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    color:#000;
    opacity: 0.8;
}
.left_area a:hover{
    background-color: red;
    border-radius: 50px;
    opacity: 0.8;
    color: white;
    font-size: 30px;
    transform: scale(.6,.6);
  
}
.right_area a:hover{
    transform: scale(1.2,1.2);
    background-color: red;
    color:black;
}

.left_area span{
    padding-left: 10px;
}

.act{
    background-color: red;
    border-radius: 50px;
    opacity: 0.8;
    color: black;
    font-size: 30px;
    transform: scale(.6,.6);
}

.bellycious{
    margin: 20px;
    width: 150px;
    height: 100px;  
    opacity: .8;
}
img{
    transform: scale(1.2,1.2);
}
.abcd{
    margin-top: 14%;
}
.pichome{
    background-image: url(photos/f3.png);
    width:100%;
    height:550px;
    margin-top: -64px;
    animation: slide 32s alternate infinite ;
    animation-delay: 4s;
}
@keyframes slide{
    0%{background-image: url(photos/f3.png);}
    25%{background-image: url(photos/f1.jpg);}
    50%{background-image: url(photos/h1.jpg);}
    100%{background-image: url(photos/f2.jpeg);}
}
.pics{
    width: 200px;
    height: 190px;
    margin-left: 10px;
    margin-right: 5px;
  
}
.feed h3{
    
    font-size: 25px;
  text-align: center;
}
.feed{
    background-color: black;
    float: left;
    width:35%;
    height:400px;
    color: white;
    border-radius: 15px;
    padding: 10px;
    margin-top: 2%;
    margin-left: 10px;
    margin-bottom: 4%
}

.op{
    float: left;
    margin-left: 13%;
    margin-top: 6%;
    background-image: url(photos/chat10.png);
    background-size: 350px 250px;
    height: 250px;
    width: 350px;
    animation: feeds 30s infinite ; 
    animation-direction: alternate;
    animation-delay: 5s;
}
@keyframes feeds{
    0%{
        background-image: url(photos/chat10.png);
        background-size: 350px 250px;
    }
    50%{
        background-image: url(photos/chat20.png);
        background-size: 350px 250px;
    }
    100%{
        background-image: url(photos/chat30.png);
        background-size: 350px 250px;
    }
}
.picsnews{
    float:left;
    margin-left: 10px;
}
.inp{
    position: relative;
    margin-top: 3%;
   border: none;
    width: 99.6%;
    height: 60px;
    background-color:#c80815;
    font-size: 20px;
}
td{
    padding-top: 15px;
    animation: rew 4s linear infinite;
}
@keyframes rew{
    0%{
        transform: translate(0);
    }
    50%{
        transform: scale(1.5,1.5);
    }
}
.back{
    position: relative;
    margin-top: -29.5%;
    margin-right: 10px;
    float: right;
    background-color: black;
    height: 420px;
    width: 35%;
    border-radius: 15px;
}
.back h3{
   text-align: center;
    color: white;
    font-size: 25px;
}
.news{
   text-align: center;
    background-color:transparent;
    width:75%;
    height:270px;
    border: 3px solid white;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    padding:5px;
    margin-left: 55px;  
    margin-top:5px;
    line-height: 1.5;
}

.news marquee{
    text-align: center;
}
.quo img{
    border: 5px solid #ff2400;
    border-radius: 50%;
  
    width:250px;
    height: 250px;
    margin-top: 8%;
    margin-bottom: 4%;
    margin-left: 50px;
}
.footer{
    position: relative;
    padding-left: 20px;
    margin-top:4%;
    padding: 20px ;
    float: left;
    
    background-color: black;
    color:#fff;
    max-height: 500px;
    width:97%
}
.footer .media i{
    text-decoration: none;
    margin-top: 3px;
    margin-right: 5px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid white;
}
.add{
    margin-left: 20px;
}
address{
     font-size: 20px;
    font-weight: 100;
}
.media{
    position:absolute;
    margin: -20px 500px;
}
li{
    list-style: none;
    margin: 0px 8px 8px;
    font-size: 24px;
    display: inline-block;
    padding: 1.5px 3px;
    cursor: pointer;
    color:#fff;
    transition: all 0.7s ease;
}
li:hover a{
    font-size: 29px;
    background-color: dimgrey;
    border: 2px solid grey;
    border-radius: 3px;
    transform: .4s;
}
ul li a{
    color:#fff;
}

.copyri{
        padding-top: 40px;
         opacity: 0.6;
         text-align: center;
         font-size: 18px;
}
.slogan{
    height: 200px;
    width: 600px;
    position: relative;
    margin-left: 17%;
    margin-top: 6%;
    
}
.slogan img{
    border-radius: 20px;
}
.middle{
    margin-top: 12%;
}
.act{
    background-color: red;
    border-radius: 50px;
    opacity: 0.8;
    color: black;
    font-size: 30px;
    transform: scale(.6,.6);
}
